.footer-background
  .container
    .row
      .column
        :markdown
          Jeremiah Kellick  
          jeremiahkellick@gmail.com  
          (814) 573-7139
      .column.right-when-column
        :markdown
          Website designed by [Bullfrog Websites](https://bullfrogwebsites.com)
